service-stubs/apimgt/org.wso2.carbon.apimgt.handlers.security.stub/src/main/resources/APIAuthenticationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.security.handlers.gateway.apimgt.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax280="http://service.security.handlers.gateway.apimgt.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.security.handlers.gateway.apimgt.carbon.wso2.org">
   <wsdl:documentation>APIAuthenticationService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.security.handlers.gateway.apimgt.carbon.wso2.org/xsd">
         <xs:complexType name="APIKeyMapping">
            <xs:sequence>
               <xs:element minOccurs="0" name="apiVersion" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax281="http://service.security.handlers.gateway.apimgt.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.security.handlers.gateway.apimgt.carbon.wso2.org">
         <xs:import namespace="http://service.security.handlers.gateway.apimgt.carbon.wso2.org/xsd"></xs:import>
         <xs:element name="invalidateKey">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invalidateKeys">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="mappings" nillable="true" type="ax281:APIKeyMapping"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invalidateOAuthKeys">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="authorizedUser" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invalidateResourceCache">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="apiContext" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="apiVersion" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="resourceURLContext" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="httpVerb" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="invalidateKeyRequest">
      <wsdl:part name="parameters" element="ns:invalidateKey"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="invalidateResourceCacheRequest">
      <wsdl:part name="parameters" element="ns:invalidateResourceCache"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="invalidateKeysRequest">
      <wsdl:part name="parameters" element="ns:invalidateKeys"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="invalidateOAuthKeysRequest">
      <wsdl:part name="parameters" element="ns:invalidateOAuthKeys"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="APIAuthenticationServicePortType">
      <wsdl:operation name="invalidateKey">
         <wsdl:input message="ns:invalidateKeyRequest" wsaw:Action="urn:invalidateKey"></wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateResourceCache">
         <wsdl:input message="ns:invalidateResourceCacheRequest" wsaw:Action="urn:invalidateResourceCache"></wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateKeys">
         <wsdl:input message="ns:invalidateKeysRequest" wsaw:Action="urn:invalidateKeys"></wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateOAuthKeys">
         <wsdl:input message="ns:invalidateOAuthKeysRequest" wsaw:Action="urn:invalidateOAuthKeys"></wsdl:input>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="APIAuthenticationServiceSoap11Binding" type="ns:APIAuthenticationServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <wsdl:operation name="invalidateKey">
         <soap:operation soapAction="urn:invalidateKey" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateResourceCache">
         <soap:operation soapAction="urn:invalidateResourceCache" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateKeys">
         <soap:operation soapAction="urn:invalidateKeys" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateOAuthKeys">
         <soap:operation soapAction="urn:invalidateOAuthKeys" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="APIAuthenticationServiceSoap12Binding" type="ns:APIAuthenticationServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
      <wsdl:operation name="invalidateKey">
         <soap12:operation soapAction="urn:invalidateKey" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateResourceCache">
         <soap12:operation soapAction="urn:invalidateResourceCache" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateKeys">
         <soap12:operation soapAction="urn:invalidateKeys" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateOAuthKeys">
         <soap12:operation soapAction="urn:invalidateOAuthKeys" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="APIAuthenticationServiceHttpBinding" type="ns:APIAuthenticationServicePortType">
      <http:binding verb="POST"></http:binding>
      <wsdl:operation name="invalidateKey">
         <http:operation location="invalidateKey"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateResourceCache">
         <http:operation location="invalidateResourceCache"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateKeys">
         <http:operation location="invalidateKeys"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="invalidateOAuthKeys">
         <http:operation location="invalidateOAuthKeys"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="APIAuthenticationService">
      <wsdl:port name="APIAuthenticationServiceHttpsSoap11Endpoint" binding="ns:APIAuthenticationServiceSoap11Binding">
         <soap:address location="https://Amilas-MacBook-Pro.local:8243/services/APIAuthenticationService.APIAuthenticationServiceHttpsSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="APIAuthenticationServiceHttpsSoap12Endpoint" binding="ns:APIAuthenticationServiceSoap12Binding">
         <soap12:address location="https://Amilas-MacBook-Pro.local:8243/services/APIAuthenticationService.APIAuthenticationServiceHttpsSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="APIAuthenticationServiceHttpsEndpoint" binding="ns:APIAuthenticationServiceHttpBinding">
         <http:address location="https://Amilas-MacBook-Pro.local:8243/services/APIAuthenticationService.APIAuthenticationServiceHttpsEndpoint"></http:address>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>