dependencies/synapse/modules/core/src/test/resources/esbservice.wsdl

<wsdl:definitions xmlns:axis2="http://ws.apache.org/axis2" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.apache.org/axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>
        New web service to test esb
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.apache.org/axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2/xsd">
            <xs:element name="multiply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="x" nillable="true" type="xs:double" />
                        <xs:element name="y" nillable="true" type="xs:double" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="multiplyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="xs:double" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="multiplyMessage">
        <wsdl:part name="part1" element="ns0:multiply" />
    </wsdl:message>
    <wsdl:message name="multiplyResponse">
        <wsdl:part name="part1" element="ns0:multiplyResponse" />
    </wsdl:message>
    <wsdl:portType name="esbservicePortType">
        <wsdl:operation name="multiply">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:multiplyMessage" wsaw:Action="urn:multiply" />
            <wsdl:output message="axis2:multiplyResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="esbserviceSOAP11Binding" type="axis2:esbservicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="multiply">
            <soap:operation soapAction="urn:multiply" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="esbserviceSOAP12Binding" type="axis2:esbservicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="multiply">
            <soap12:operation soapAction="urn:multiply" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="esbserviceHttpBinding" type="axis2:esbservicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="multiply">
            <http:operation location="multiply" />
            <wsdl:input>
                <mime:content type="text/xml" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="esbservice">
        <wsdl:port name="esbserviceSOAP11port_http" binding="axis2:esbserviceSOAP11Binding">
            <soap:address location="http://localhost:9001/services/Service1" />
        </wsdl:port>
        <wsdl:port name="esbserviceSOAP12port_http" binding="axis2:esbserviceSOAP12Binding">
            <soap12:address location="http://localhost:9001/services/Service1" />
        </wsdl:port>
        <wsdl:port name="esbserviceHttpport1" binding="axis2:esbserviceHttpBinding">
            <http:address location="http://localhost:9001/services/Service1" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
