service-stubs/apimgt/org.wso2.carbon.apimgt.localentry.stub/src/main/resources/APILocalEntryAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.gateway.apimgt.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.gateway.apimgt.carbon.wso2.org">
    <wsdl:documentation>APILocalEntryAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.gateway.apimgt.carbon.wso2.org">
            <xs:element name="isLocalEntryExists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isLocalEntryExistsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLocalEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLocalEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addLocalEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addLocalEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="isLocalEntryExistsRequest">
        <wsdl:part name="parameters" element="ns:isLocalEntryExists"/>
    </wsdl:message>
    <wsdl:message name="isLocalEntryExistsResponse">
        <wsdl:part name="parameters" element="ns:isLocalEntryExistsResponse"/>
    </wsdl:message>
    <wsdl:message name="getEntryRequest">
        <wsdl:part name="parameters" element="ns:getEntry"/>
    </wsdl:message>
    <wsdl:message name="getEntryResponse">
        <wsdl:part name="parameters" element="ns:getEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="addLocalEntryRequest">
        <wsdl:part name="parameters" element="ns:addLocalEntry"/>
    </wsdl:message>
    <wsdl:message name="addLocalEntryResponse">
        <wsdl:part name="parameters" element="ns:addLocalEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteLocalEntryRequest">
        <wsdl:part name="parameters" element="ns:deleteLocalEntry"/>
    </wsdl:message>
    <wsdl:message name="deleteLocalEntryResponse">
        <wsdl:part name="parameters" element="ns:deleteLocalEntryResponse"/>
    </wsdl:message>
    <wsdl:portType name="APILocalEntryAdminPortType">
        <wsdl:operation name="isLocalEntryExists">
            <wsdl:input message="ns:isLocalEntryExistsRequest" wsaw:Action="urn:isLocalEntryExists"/>
            <wsdl:output message="ns:isLocalEntryExistsResponse" wsaw:Action="urn:isLocalEntryExistsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <wsdl:input message="ns:getEntryRequest" wsaw:Action="urn:getEntry"/>
            <wsdl:output message="ns:getEntryResponse" wsaw:Action="urn:getEntryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addLocalEntry">
            <wsdl:input message="ns:addLocalEntryRequest" wsaw:Action="urn:addLocalEntry"/>
            <wsdl:output message="ns:addLocalEntryResponse" wsaw:Action="urn:addLocalEntryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <wsdl:input message="ns:deleteLocalEntryRequest" wsaw:Action="urn:deleteLocalEntry"/>
            <wsdl:output message="ns:deleteLocalEntryResponse" wsaw:Action="urn:deleteLocalEntryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="APILocalEntryAdminSoap11Binding" type="ns:APILocalEntryAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isLocalEntryExists">
            <soap:operation soapAction="urn:isLocalEntryExists" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <soap:operation soapAction="urn:getEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addLocalEntry">
            <soap:operation soapAction="urn:addLocalEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <soap:operation soapAction="urn:deleteLocalEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APILocalEntryAdminSoap12Binding" type="ns:APILocalEntryAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isLocalEntryExists">
            <soap12:operation soapAction="urn:isLocalEntryExists" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <soap12:operation soapAction="urn:getEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addLocalEntry">
            <soap12:operation soapAction="urn:addLocalEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <soap12:operation soapAction="urn:deleteLocalEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APILocalEntryAdminHttpBinding" type="ns:APILocalEntryAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="isLocalEntryExists">
            <http:operation location="isLocalEntryExists"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <http:operation location="getEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addLocalEntry">
            <http:operation location="addLocalEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <http:operation location="deleteLocalEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="APILocalEntryAdmin">
        <wsdl:port name="APILocalEntryAdminHttpsSoap11Endpoint" binding="ns:APILocalEntryAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/APILocalEntryAdmin.APILocalEntryAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="APILocalEntryAdminHttpsSoap12Endpoint" binding="ns:APILocalEntryAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/APILocalEntryAdmin.APILocalEntryAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="APILocalEntryAdminHttpsEndpoint" binding="ns:APILocalEntryAdminHttpBinding">
            <http:address location="https://localhost:8243/services/APILocalEntryAdmin.APILocalEntryAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>