service-stubs/apimgt/org.wso2.carbon.apimgt.registry.cache.stub/src/main/resources/RegistryCacheInvalidationService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.impl.apimgt.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax286="http://api.apimgt.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.impl.apimgt.carbon.wso2.org">
   <wsdl:documentation>RegistryCacheInvalidationService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.apimgt.carbon.wso2.org/xsd">
         <xs:complexType name="APIManagementException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax287="http://api.apimgt.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.impl.apimgt.carbon.wso2.org">
         <xs:import namespace="http://api.apimgt.carbon.wso2.org/xsd"/>
         <xs:element name="RegistryCacheInvalidationServiceAPIManagementException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="APIManagementException" nillable="true" type="ax287:APIManagementException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="invalidateCache">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="invalidateCacheRequest">
      <wsdl:part name="parameters" element="ns:invalidateCache"/>
   </wsdl:message>
   <wsdl:message name="RegistryCacheInvalidationServiceAPIManagementException">
      <wsdl:part name="parameters" element="ns:RegistryCacheInvalidationServiceAPIManagementException"/>
   </wsdl:message>
   <wsdl:portType name="RegistryCacheInvalidationServicePortType">
      <wsdl:operation name="invalidateCache">
         <wsdl:input message="ns:invalidateCacheRequest" wsaw:Action="urn:invalidateCache"/>
         <wsdl:fault message="ns:RegistryCacheInvalidationServiceAPIManagementException" name="RegistryCacheInvalidationServiceAPIManagementException" wsaw:Action="urn:invalidateCacheRegistryCacheInvalidationServiceAPIManagementException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="RegistryCacheInvalidationServiceSoap11Binding" type="ns:RegistryCacheInvalidationServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="invalidateCache">
         <soap:operation soapAction="urn:invalidateCache" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RegistryCacheInvalidationServiceAPIManagementException">
            <soap:fault use="literal" name="RegistryCacheInvalidationServiceAPIManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RegistryCacheInvalidationServiceSoap12Binding" type="ns:RegistryCacheInvalidationServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="invalidateCache">
         <soap12:operation soapAction="urn:invalidateCache" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="RegistryCacheInvalidationServiceAPIManagementException">
            <soap12:fault use="literal" name="RegistryCacheInvalidationServiceAPIManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RegistryCacheInvalidationServiceHttpBinding" type="ns:RegistryCacheInvalidationServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="invalidateCache">
         <http:operation location="invalidateCache"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RegistryCacheInvalidationService">
      <wsdl:port name="RegistryCacheInvalidationServiceHttpsSoap11Endpoint" binding="ns:RegistryCacheInvalidationServiceSoap11Binding">
         <soap:address location="https://lakmali-ThinkPad-T540p:8246/services/RegistryCacheInvalidationService.RegistryCacheInvalidationServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RegistryCacheInvalidationServiceHttpsSoap12Endpoint" binding="ns:RegistryCacheInvalidationServiceSoap12Binding">
         <soap12:address location="https://lakmali-ThinkPad-T540p:8246/services/RegistryCacheInvalidationService.RegistryCacheInvalidationServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="RegistryCacheInvalidationServiceHttpsEndpoint" binding="ns:RegistryCacheInvalidationServiceHttpBinding">
         <http:address location="https://lakmali-ThinkPad-T540p:8246/services/RegistryCacheInvalidationService.RegistryCacheInvalidationServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
