service-stubs/apimgt/org.wso2.carbon.apimgt.keymgt.stub/src/main/resources/APIKeyMgtProviderService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax227="http://util.java/xsd" xmlns:ax220="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax222="http://api.apimgt.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.keymgt.apimgt.carbon.wso2.org" xmlns:ax224="http://base.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax226="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.keymgt.apimgt.carbon.wso2.org">
    <wsdl:documentation>APIKeyMgtProviderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax229="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:ax221="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax223="http://api.apimgt.carbon.wso2.org/xsd" xmlns:ax225="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://keymgt.apimgt.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://api.apimgt.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.impl.apimgt.carbon.wso2.org/xsd"/>
            <xs:element name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIKeyMgtException" nillable="true" type="ax220:APIKeyMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="APIKeyMgtProviderServiceAPIManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIManagementException" nillable="true" type="ax222:APIManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="APIKeyMgtProviderServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax224:IdentityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="revokeAccessTokens">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax229:APIInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeScopeCache">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="consumerKeys" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIssuedKeyInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax229:APIInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIssuedKeyInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax229:APIKeyInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPIsOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPIsOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax229:APIInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateAccessTokens">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax229:APIInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BlockAccessTokens">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax229:APIInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keymgt.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIKeyMgtException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax228="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.impl.apimgt.carbon.wso2.org/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="APIInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="APIIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="apiProductName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resources" nillable="true" type="ax228:Set"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="APIKeyInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIManagementException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="revokeAccessTokensRequest">
        <wsdl:part name="parameters" element="ns1:revokeAccessTokens"/>
    </wsdl:message>
    <wsdl:message name="APIKeyMgtProviderServiceAPIKeyMgtException">
        <wsdl:part name="parameters" element="ns1:APIKeyMgtProviderServiceAPIKeyMgtException"/>
    </wsdl:message>
    <wsdl:message name="APIKeyMgtProviderServiceAPIManagementException">
        <wsdl:part name="parameters" element="ns1:APIKeyMgtProviderServiceAPIManagementException"/>
    </wsdl:message>
    <wsdl:message name="APIKeyMgtProviderServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:APIKeyMgtProviderServiceIdentityException"/>
    </wsdl:message>
    <wsdl:message name="getAPIsOfUserRequest">
        <wsdl:part name="parameters" element="ns1:getAPIsOfUser"/>
    </wsdl:message>
    <wsdl:message name="getAPIsOfUserResponse">
        <wsdl:part name="parameters" element="ns1:getAPIsOfUserResponse"/>
    </wsdl:message>
    <wsdl:message name="removeScopeCacheRequest">
        <wsdl:part name="parameters" element="ns1:removeScopeCache"/>
    </wsdl:message>
    <wsdl:message name="BlockAccessTokensRequest">
        <wsdl:part name="parameters" element="ns1:BlockAccessTokens"/>
    </wsdl:message>
    <wsdl:message name="activateAccessTokensRequest">
        <wsdl:part name="parameters" element="ns1:activateAccessTokens"/>
    </wsdl:message>
    <wsdl:message name="getIssuedKeyInfoRequest">
        <wsdl:part name="parameters" element="ns1:getIssuedKeyInfo"/>
    </wsdl:message>
    <wsdl:message name="getIssuedKeyInfoResponse">
        <wsdl:part name="parameters" element="ns1:getIssuedKeyInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="APIKeyMgtProviderServicePortType">
        <wsdl:operation name="revokeAccessTokens">
            <wsdl:input message="tns:revokeAccessTokensRequest" wsaw:Action="urn:revokeAccessTokens"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIKeyMgtException" name="APIKeyMgtProviderServiceAPIKeyMgtException" wsaw:Action="urn:revokeAccessTokensAPIKeyMgtProviderServiceAPIKeyMgtException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIManagementException" name="APIKeyMgtProviderServiceAPIManagementException" wsaw:Action="urn:revokeAccessTokensAPIKeyMgtProviderServiceAPIManagementException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceIdentityException" name="APIKeyMgtProviderServiceIdentityException" wsaw:Action="urn:revokeAccessTokensAPIKeyMgtProviderServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="getAPIsOfUser">
            <wsdl:input message="tns:getAPIsOfUserRequest" wsaw:Action="urn:getAPIsOfUser"/>
            <wsdl:output message="tns:getAPIsOfUserResponse" wsaw:Action="urn:getAPIsOfUserResponse"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIKeyMgtException" name="APIKeyMgtProviderServiceAPIKeyMgtException" wsaw:Action="urn:getAPIsOfUserAPIKeyMgtProviderServiceAPIKeyMgtException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIManagementException" name="APIKeyMgtProviderServiceAPIManagementException" wsaw:Action="urn:getAPIsOfUserAPIKeyMgtProviderServiceAPIManagementException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceIdentityException" name="APIKeyMgtProviderServiceIdentityException" wsaw:Action="urn:getAPIsOfUserAPIKeyMgtProviderServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="removeScopeCache">
            <wsdl:input message="tns:removeScopeCacheRequest" wsaw:Action="urn:removeScopeCache"/>
        </wsdl:operation>
        <wsdl:operation name="BlockAccessTokens">
            <wsdl:input message="tns:BlockAccessTokensRequest" wsaw:Action="urn:BlockAccessTokens"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIKeyMgtException" name="APIKeyMgtProviderServiceAPIKeyMgtException" wsaw:Action="urn:BlockAccessTokensAPIKeyMgtProviderServiceAPIKeyMgtException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIManagementException" name="APIKeyMgtProviderServiceAPIManagementException" wsaw:Action="urn:BlockAccessTokensAPIKeyMgtProviderServiceAPIManagementException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceIdentityException" name="APIKeyMgtProviderServiceIdentityException" wsaw:Action="urn:BlockAccessTokensAPIKeyMgtProviderServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="activateAccessTokens">
            <wsdl:input message="tns:activateAccessTokensRequest" wsaw:Action="urn:activateAccessTokens"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIKeyMgtException" name="APIKeyMgtProviderServiceAPIKeyMgtException" wsaw:Action="urn:activateAccessTokensAPIKeyMgtProviderServiceAPIKeyMgtException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIManagementException" name="APIKeyMgtProviderServiceAPIManagementException" wsaw:Action="urn:activateAccessTokensAPIKeyMgtProviderServiceAPIManagementException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceIdentityException" name="APIKeyMgtProviderServiceIdentityException" wsaw:Action="urn:activateAccessTokensAPIKeyMgtProviderServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="getIssuedKeyInfo">
            <wsdl:input message="tns:getIssuedKeyInfoRequest" wsaw:Action="urn:getIssuedKeyInfo"/>
            <wsdl:output message="tns:getIssuedKeyInfoResponse" wsaw:Action="urn:getIssuedKeyInfoResponse"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIKeyMgtException" name="APIKeyMgtProviderServiceAPIKeyMgtException" wsaw:Action="urn:getIssuedKeyInfoAPIKeyMgtProviderServiceAPIKeyMgtException"/>
            <wsdl:fault message="tns:APIKeyMgtProviderServiceAPIManagementException" name="APIKeyMgtProviderServiceAPIManagementException" wsaw:Action="urn:getIssuedKeyInfoAPIKeyMgtProviderServiceAPIManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="APIKeyMgtProviderServiceSoap11Binding" type="tns:APIKeyMgtProviderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="revokeAccessTokens">
            <soap:operation soapAction="urn:revokeAccessTokens" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPIsOfUser">
            <soap:operation soapAction="urn:getAPIsOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeScopeCache">
            <soap:operation soapAction="urn:removeScopeCache" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="BlockAccessTokens">
            <soap:operation soapAction="urn:BlockAccessTokens" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateAccessTokens">
            <soap:operation soapAction="urn:activateAccessTokens" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIssuedKeyInfo">
            <soap:operation soapAction="urn:getIssuedKeyInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIKeyMgtProviderServiceSoap12Binding" type="tns:APIKeyMgtProviderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="revokeAccessTokens">
            <soap12:operation soapAction="urn:revokeAccessTokens" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPIsOfUser">
            <soap12:operation soapAction="urn:getAPIsOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeScopeCache">
            <soap12:operation soapAction="urn:removeScopeCache" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="BlockAccessTokens">
            <soap12:operation soapAction="urn:BlockAccessTokens" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateAccessTokens">
            <soap12:operation soapAction="urn:activateAccessTokens" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceIdentityException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceIdentityException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIssuedKeyInfo">
            <soap12:operation soapAction="urn:getIssuedKeyInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="APIKeyMgtProviderServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtProviderServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIKeyMgtProviderServiceHttpBinding" type="tns:APIKeyMgtProviderServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="revokeAccessTokens">
            <http:operation location="revokeAccessTokens"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAPIsOfUser">
            <http:operation location="getAPIsOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeScopeCache">
            <http:operation location="removeScopeCache"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="BlockAccessTokens">
            <http:operation location="BlockAccessTokens"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="activateAccessTokens">
            <http:operation location="activateAccessTokens"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getIssuedKeyInfo">
            <http:operation location="getIssuedKeyInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="APIKeyMgtProviderService">
        <wsdl:port name="APIKeyMgtProviderServiceHttpsSoap11Endpoint" binding="tns:APIKeyMgtProviderServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/APIKeyMgtProviderService.APIKeyMgtProviderServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="APIKeyMgtProviderServiceHttpsSoap12Endpoint" binding="tns:APIKeyMgtProviderServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/APIKeyMgtProviderService.APIKeyMgtProviderServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="APIKeyMgtProviderServiceHttpsEndpoint" binding="tns:APIKeyMgtProviderServiceHttpBinding">
            <http:address location="https://localhost:8243/services/APIKeyMgtProviderService.APIKeyMgtProviderServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>