service-stubs/apimgt/org.wso2.carbon.apimgt.keymgt.stub/src/main/resources/APIKeyMgtSubscriberService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://api.apimgt.carbon.wso2.org/xsd" xmlns:ax27="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ax217="http://model.api.apimgt.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax214="http://util.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax213="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.keymgt.apimgt.carbon.wso2.org" xmlns:ax211="http://base.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.keymgt.apimgt.carbon.wso2.org">
   <wsdl:documentation>APIKeyMgtSubscriberService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax219="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.api.apimgt.carbon.wso2.org/xsd">
         <xs:import namespace="http://util.java/xsd"></xs:import>
         <xs:complexType name="OAuthApplicationInfo">
            <xs:sequence>
               <xs:element minOccurs="0" name="callBackURL" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Application">
            <xs:sequence>
               <xs:element minOccurs="0" name="applicationWorkFlowStatus" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
               <xs:element minOccurs="0" name="keys" nillable="true" type="xs:anyType"></xs:element>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="subscribedAPIs" nillable="true" type="ax214:Set"></xs:element>
               <xs:element minOccurs="0" name="subscriber" nillable="true" type="ax217:Subscriber"></xs:element>
               <xs:element minOccurs="0" name="tier" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Subscriber">
            <xs:sequence>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="subscribedDate" nillable="true" type="xs:date"></xs:element>
               <xs:element minOccurs="0" name="tenantId" type="xs:int"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
         <xs:complexType abstract="true" name="Set">
            <xs:sequence>
               <xs:element minOccurs="0" name="empty" type="xs:boolean"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax216="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:ax212="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax218="http://model.api.apimgt.carbon.wso2.org/xsd" xmlns:ax28="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ax210="http://api.apimgt.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://keymgt.apimgt.carbon.wso2.org/xsd"></xs:import>
         <xs:import namespace="http://api.apimgt.carbon.wso2.org/xsd"></xs:import>
         <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"></xs:import>
         <xs:import namespace="http://dto.impl.apimgt.carbon.wso2.org/xsd"></xs:import>
         <xs:import namespace="http://model.api.apimgt.carbon.wso2.org/xsd"></xs:import>
         <xs:element name="clearOAuthCache">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="authorizedUser" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="APIKeyMgtException" nillable="true" type="ax27:APIKeyMgtException"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="APIKeyMgtSubscriberServiceAPIManagementException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="APIManagementException" nillable="true" type="ax29:APIManagementException"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="APIKeyMgtSubscriberServiceIdentityException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax212:IdentityException"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAccessToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax216:APIInfoDTO"></xs:element>
                  <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAccessTokenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="APIKeyMgtSubscriberServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="APIKeyMgtSubscriberServiceException" nillable="true" type="ns:Exception"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="renewAccessToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="oldAccessToken" nillable="true" type="xs:string"></xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="allowedDomains" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="clientSecret" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="validityTime" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="renewAccessTokenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="revokeAccessToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="authorizedUser" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="createOAuthApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="createOAuthApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax217:OAuthApplicationInfo"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retrieveOAuthApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="retrieveOAuthApplicationResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax217:OAuthApplicationInfo"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="deleteOAuthApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getApplicationAccessToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="tokenType" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="callbackUrl" nillable="true" type="xs:string"></xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="allowedDomains" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="validityTime" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="tokenScope" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getApplicationAccessTokenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:ApplicationKeysDTO"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSubscribedAPIsOfUser">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getSubscribedAPIsOfUserResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax216:APIInfoDTO"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="unsubscribeFromAPI">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="apiInfoDTO" nillable="true" type="ax216:APIInfoDTO"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="revokeAccessTokenForApplication">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="application" nillable="true" type="ax217:Application"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="revokeAccessTokenBySubscriber">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="subscriber" nillable="true" type="ax217:Subscriber"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="revokeKeysByTier">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="tierName" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keymgt.apimgt.carbon.wso2.org/xsd">
         <xs:complexType name="APIKeyMgtException">
            <xs:sequence></xs:sequence>
         </xs:complexType>
         <xs:complexType name="ApplicationKeysDTO">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="accessAllowDomains" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="applicationAccessToken" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="tokenScope" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="validityTime" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax215="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.impl.apimgt.carbon.wso2.org/xsd">
         <xs:import namespace="http://util.java/xsd"></xs:import>
         <xs:complexType name="APIInfoDTO">
            <xs:sequence>
               <xs:element minOccurs="0" name="APIIdentifier" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="resources" nillable="true" type="ax214:Set"></xs:element>
               <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
         <xs:complexType name="IdentityException">
            <xs:sequence></xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.apimgt.carbon.wso2.org/xsd">
         <xs:complexType name="APIManagementException">
            <xs:sequence></xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="unsubscribeFromAPIRequest">
      <wsdl:part name="parameters" element="ns1:unsubscribeFromAPI"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="retrieveOAuthApplicationRequest">
      <wsdl:part name="parameters" element="ns1:retrieveOAuthApplication"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="retrieveOAuthApplicationResponse">
      <wsdl:part name="parameters" element="ns1:retrieveOAuthApplicationResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
      <wsdl:part name="parameters" element="ns1:APIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="APIKeyMgtSubscriberServiceAPIManagementException">
      <wsdl:part name="parameters" element="ns1:APIKeyMgtSubscriberServiceAPIManagementException"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="APIKeyMgtSubscriberServiceIdentityException">
      <wsdl:part name="parameters" element="ns1:APIKeyMgtSubscriberServiceIdentityException"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="renewAccessTokenRequest">
      <wsdl:part name="parameters" element="ns1:renewAccessToken"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="renewAccessTokenResponse">
      <wsdl:part name="parameters" element="ns1:renewAccessTokenResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="APIKeyMgtSubscriberServiceException">
      <wsdl:part name="parameters" element="ns1:APIKeyMgtSubscriberServiceException"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="createOAuthApplicationRequest">
      <wsdl:part name="parameters" element="ns1:createOAuthApplication"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="createOAuthApplicationResponse">
      <wsdl:part name="parameters" element="ns1:createOAuthApplicationResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getSubscribedAPIsOfUserRequest">
      <wsdl:part name="parameters" element="ns1:getSubscribedAPIsOfUser"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getSubscribedAPIsOfUserResponse">
      <wsdl:part name="parameters" element="ns1:getSubscribedAPIsOfUserResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getApplicationAccessTokenRequest">
      <wsdl:part name="parameters" element="ns1:getApplicationAccessToken"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getApplicationAccessTokenResponse">
      <wsdl:part name="parameters" element="ns1:getApplicationAccessTokenResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="deleteOAuthApplicationRequest">
      <wsdl:part name="parameters" element="ns1:deleteOAuthApplication"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="revokeAccessTokenBySubscriberRequest">
      <wsdl:part name="parameters" element="ns1:revokeAccessTokenBySubscriber"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="clearOAuthCacheRequest">
      <wsdl:part name="parameters" element="ns1:clearOAuthCache"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="revokeKeysByTierRequest">
      <wsdl:part name="parameters" element="ns1:revokeKeysByTier"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getAccessTokenRequest">
      <wsdl:part name="parameters" element="ns1:getAccessToken"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getAccessTokenResponse">
      <wsdl:part name="parameters" element="ns1:getAccessTokenResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="revokeAccessTokenRequest">
      <wsdl:part name="parameters" element="ns1:revokeAccessToken"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="revokeAccessTokenForApplicationRequest">
      <wsdl:part name="parameters" element="ns1:revokeAccessTokenForApplication"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="APIKeyMgtSubscriberServicePortType">
      <wsdl:operation name="unsubscribeFromAPI">
         <wsdl:input message="tns:unsubscribeFromAPIRequest" wsaw:Action="urn:unsubscribeFromAPI"></wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="retrieveOAuthApplication">
         <wsdl:input message="tns:retrieveOAuthApplicationRequest" wsaw:Action="urn:retrieveOAuthApplication"></wsdl:input>
         <wsdl:output message="tns:retrieveOAuthApplicationResponse" wsaw:Action="urn:retrieveOAuthApplicationResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:retrieveOAuthApplicationAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:retrieveOAuthApplicationAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:retrieveOAuthApplicationAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="renewAccessToken">
         <wsdl:input message="tns:renewAccessTokenRequest" wsaw:Action="urn:renewAccessToken"></wsdl:input>
         <wsdl:output message="tns:renewAccessTokenResponse" wsaw:Action="urn:renewAccessTokenResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceException" name="APIKeyMgtSubscriberServiceException" wsaw:Action="urn:renewAccessTokenAPIKeyMgtSubscriberServiceException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createOAuthApplication">
         <wsdl:input message="tns:createOAuthApplicationRequest" wsaw:Action="urn:createOAuthApplication"></wsdl:input>
         <wsdl:output message="tns:createOAuthApplicationResponse" wsaw:Action="urn:createOAuthApplicationResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:createOAuthApplicationAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:createOAuthApplicationAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:createOAuthApplicationAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedAPIsOfUser">
         <wsdl:input message="tns:getSubscribedAPIsOfUserRequest" wsaw:Action="urn:getSubscribedAPIsOfUser"></wsdl:input>
         <wsdl:output message="tns:getSubscribedAPIsOfUserResponse" wsaw:Action="urn:getSubscribedAPIsOfUserResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:getSubscribedAPIsOfUserAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:getSubscribedAPIsOfUserAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:getSubscribedAPIsOfUserAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getApplicationAccessToken">
         <wsdl:input message="tns:getApplicationAccessTokenRequest" wsaw:Action="urn:getApplicationAccessToken"></wsdl:input>
         <wsdl:output message="tns:getApplicationAccessTokenResponse" wsaw:Action="urn:getApplicationAccessTokenResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:getApplicationAccessTokenAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:getApplicationAccessTokenAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:getApplicationAccessTokenAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteOAuthApplication">
         <wsdl:input message="tns:deleteOAuthApplicationRequest" wsaw:Action="urn:deleteOAuthApplication"></wsdl:input>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:deleteOAuthApplicationAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:deleteOAuthApplicationAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:deleteOAuthApplicationAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenBySubscriber">
         <wsdl:input message="tns:revokeAccessTokenBySubscriberRequest" wsaw:Action="urn:revokeAccessTokenBySubscriber"></wsdl:input>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:revokeAccessTokenBySubscriberAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearOAuthCache">
         <wsdl:input message="tns:clearOAuthCacheRequest" wsaw:Action="urn:clearOAuthCache"></wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeKeysByTier">
         <wsdl:input message="tns:revokeKeysByTierRequest" wsaw:Action="urn:revokeKeysByTier"></wsdl:input>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:revokeKeysByTierAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccessToken">
         <wsdl:input message="tns:getAccessTokenRequest" wsaw:Action="urn:getAccessToken"></wsdl:input>
         <wsdl:output message="tns:getAccessTokenResponse" wsaw:Action="urn:getAccessTokenResponse"></wsdl:output>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIKeyMgtException" name="APIKeyMgtSubscriberServiceAPIKeyMgtException" wsaw:Action="urn:getAccessTokenAPIKeyMgtSubscriberServiceAPIKeyMgtException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:getAccessTokenAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceIdentityException" name="APIKeyMgtSubscriberServiceIdentityException" wsaw:Action="urn:getAccessTokenAPIKeyMgtSubscriberServiceIdentityException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessToken">
         <wsdl:input message="tns:revokeAccessTokenRequest" wsaw:Action="urn:revokeAccessToken"></wsdl:input>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:revokeAccessTokenAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenForApplication">
         <wsdl:input message="tns:revokeAccessTokenForApplicationRequest" wsaw:Action="urn:revokeAccessTokenForApplication"></wsdl:input>
         <wsdl:fault message="tns:APIKeyMgtSubscriberServiceAPIManagementException" name="APIKeyMgtSubscriberServiceAPIManagementException" wsaw:Action="urn:revokeAccessTokenForApplicationAPIKeyMgtSubscriberServiceAPIManagementException"></wsdl:fault>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="APIKeyMgtSubscriberServiceSoap11Binding" type="tns:APIKeyMgtSubscriberServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <wsdl:operation name="unsubscribeFromAPI">
         <soap:operation soapAction="urn:unsubscribeFromAPI" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="retrieveOAuthApplication">
         <soap:operation soapAction="urn:retrieveOAuthApplication" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="renewAccessToken">
         <soap:operation soapAction="urn:renewAccessToken" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createOAuthApplication">
         <soap:operation soapAction="urn:createOAuthApplication" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedAPIsOfUser">
         <soap:operation soapAction="urn:getSubscribedAPIsOfUser" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getApplicationAccessToken">
         <soap:operation soapAction="urn:getApplicationAccessToken" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteOAuthApplication">
         <soap:operation soapAction="urn:deleteOAuthApplication" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenBySubscriber">
         <soap:operation soapAction="urn:revokeAccessTokenBySubscriber" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearOAuthCache">
         <soap:operation soapAction="urn:clearOAuthCache" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeKeysByTier">
         <soap:operation soapAction="urn:revokeKeysByTier" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccessToken">
         <soap:operation soapAction="urn:getAccessToken" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessToken">
         <soap:operation soapAction="urn:revokeAccessToken" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenForApplication">
         <soap:operation soapAction="urn:revokeAccessTokenForApplication" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="APIKeyMgtSubscriberServiceSoap12Binding" type="tns:APIKeyMgtSubscriberServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
      <wsdl:operation name="unsubscribeFromAPI">
         <soap12:operation soapAction="urn:unsubscribeFromAPI" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="retrieveOAuthApplication">
         <soap12:operation soapAction="urn:retrieveOAuthApplication" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="renewAccessToken">
         <soap12:operation soapAction="urn:renewAccessToken" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createOAuthApplication">
         <soap12:operation soapAction="urn:createOAuthApplication" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedAPIsOfUser">
         <soap12:operation soapAction="urn:getSubscribedAPIsOfUser" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getApplicationAccessToken">
         <soap12:operation soapAction="urn:getApplicationAccessToken" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteOAuthApplication">
         <soap12:operation soapAction="urn:deleteOAuthApplication" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenBySubscriber">
         <soap12:operation soapAction="urn:revokeAccessTokenBySubscriber" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="clearOAuthCache">
         <soap12:operation soapAction="urn:clearOAuthCache" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeKeysByTier">
         <soap12:operation soapAction="urn:revokeKeysByTier" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccessToken">
         <soap12:operation soapAction="urn:getAccessToken" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIKeyMgtException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIKeyMgtException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceIdentityException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceIdentityException"></soap12:fault>
         </wsdl:fault>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessToken">
         <soap12:operation soapAction="urn:revokeAccessToken" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenForApplication">
         <soap12:operation soapAction="urn:revokeAccessTokenForApplication" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:fault name="APIKeyMgtSubscriberServiceAPIManagementException">
            <soap12:fault use="literal" name="APIKeyMgtSubscriberServiceAPIManagementException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="APIKeyMgtSubscriberServiceHttpBinding" type="tns:APIKeyMgtSubscriberServicePortType">
      <http:binding verb="POST"></http:binding>
      <wsdl:operation name="unsubscribeFromAPI">
         <http:operation location="unsubscribeFromAPI"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="retrieveOAuthApplication">
         <http:operation location="retrieveOAuthApplication"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="renewAccessToken">
         <http:operation location="renewAccessToken"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="createOAuthApplication">
         <http:operation location="createOAuthApplication"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getSubscribedAPIsOfUser">
         <http:operation location="getSubscribedAPIsOfUser"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getApplicationAccessToken">
         <http:operation location="getApplicationAccessToken"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="deleteOAuthApplication">
         <http:operation location="deleteOAuthApplication"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenBySubscriber">
         <http:operation location="revokeAccessTokenBySubscriber"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="clearOAuthCache">
         <http:operation location="clearOAuthCache"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeKeysByTier">
         <http:operation location="revokeKeysByTier"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getAccessToken">
         <http:operation location="getAccessToken"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessToken">
         <http:operation location="revokeAccessToken"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="revokeAccessTokenForApplication">
         <http:operation location="revokeAccessTokenForApplication"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="APIKeyMgtSubscriberService">
      <wsdl:port name="APIKeyMgtSubscriberServiceHttpsSoap11Endpoint" binding="tns:APIKeyMgtSubscriberServiceSoap11Binding">
         <soap:address location="https://Amilas-MacBook-Pro.local:8243/services/APIKeyMgtSubscriberService.APIKeyMgtSubscriberServiceHttpsSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="APIKeyMgtSubscriberServiceHttpsSoap12Endpoint" binding="tns:APIKeyMgtSubscriberServiceSoap12Binding">
         <soap12:address location="https://Amilas-MacBook-Pro.local:8243/services/APIKeyMgtSubscriberService.APIKeyMgtSubscriberServiceHttpsSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="APIKeyMgtSubscriberServiceHttpsEndpoint" binding="tns:APIKeyMgtSubscriberServiceHttpBinding">
         <http:address location="https://Amilas-MacBook-Pro.local:8243/services/APIKeyMgtSubscriberService.APIKeyMgtSubscriberServiceHttpsEndpoint"></http:address>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>