service-stubs/apimgt/org.wso2.carbon.apimgt.keymgt.stub/src/main/resources/MultiTenantUserAdminService.wsdl

<!--
 ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax220="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.keymgt.apimgt.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.keymgt.apimgt.carbon.wso2.org">
    <wsdl:documentation>MultiTenantUserAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://keymgt.apimgt.carbon.wso2.org/xsd"/>
            <xs:element name="MultiTenantUserAdminServiceAPIKeyMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIKeyMgtException" nillable="true" type="ax220:APIKeyMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRoleList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserRoleListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keymgt.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIKeyMgtException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUserRoleListRequest">
        <wsdl:part name="parameters" element="ns1:getUserRoleList"/>
    </wsdl:message>
    <wsdl:message name="getUserRoleListResponse">
        <wsdl:part name="parameters" element="ns1:getUserRoleListResponse"/>
    </wsdl:message>
    <wsdl:message name="MultiTenantUserAdminServiceAPIKeyMgtException">
        <wsdl:part name="parameters" element="ns1:MultiTenantUserAdminServiceAPIKeyMgtException"/>
    </wsdl:message>
    <wsdl:portType name="MultiTenantUserAdminServicePortType">
        <wsdl:operation name="getUserRoleList">
            <wsdl:input message="tns:getUserRoleListRequest" wsaw:Action="urn:getUserRoleList"/>
            <wsdl:fault message="tns:MultiTenantUserAdminServiceAPIKeyMgtException" name="APIKeyMgtException" wsaw:Action="urn:getUserListMutiTenantAdminServiceAPIKeyMgtException"/>
            <wsdl:output message="tns:getUserRoleListResponse" wsaw:Action="urn:getUserRoleListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultiTenantUserAdminServiceSoap11Binding" type="tns:MultiTenantUserAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getUserRoleList">
            <soap:operation soapAction="urn:getUserRoleList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MultiTenantUserAdminServiceAPIKeyMgtException">
                <soap:fault use="literal" name="MultiTenantUserAdminServiceAPIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiTenantUserAdminServiceSoap12Binding" type="tns:MultiTenantUserAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getUserRoleList">
            <soap12:operation soapAction="urn:getUserRoleList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="APIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultiTenantUserAdminServiceHttpBinding" type="tns:MultiTenantUserAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getUserRoleList">
            <http:operation location="getUserRoleList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultiTenantUserAdminService">
        <wsdl:port name="MultiTenantUserAdminServiceHttpsSoap11Endpoint" binding="tns:MultiTenantUserAdminServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/MultiTenantUserAdminService.MultiTenantUserAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MultiTenantUserAdminServiceHttpsSoap12Endpoint" binding="tns:MultiTenantUserAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/MultiTenantUserAdminService.MultiTenantUserAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MultiTenantUserAdminServiceHttpsEndpoint" binding="tns:MultiTenantUserAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/MultiTenantUserAdminService.MultiTenantUserAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
